body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgba(159, 90, 253);
    /* background-image: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.mask{
    background:black; 
    position:absolute;
    z-index:-1;
    opacity:0.3;
}
.main {
    background: rgba(71, 165, 209, 0.74);
    border-left: 5px solid white;
    border-right: 5px solid white;
    /* border-bottom: 2px solid red; */
    padding-top: 5rem;
    margin-bottom: 10rem;
    height: 35rem;
    width: 95%;
    margin: auto;
    overflow-y: auto;
    opacity:1;
}

.main::-webkit-scrollbar {
    display: none;
}

h2,
h3,
h5,
p,
label,
li,
input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: grid;
    justify-content: center;
    padding: 0 80px 0 80px;
    grid-template-columns: repeat(1, 0.2fr);
}

.row {
    display: flex;
    justify-content: center;
}

li {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.logo {
    width: 45px;
}

.navbar {
    padding: 2px;
}
.navbar-buttons{
    cursor: pointer !important;
}

.nav-item:hover {
    background-color: black;
    transition: 0.5s all;
}

.navbar_button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    border: transparent;
}

.canvas {
    background: rgba(159, 90, 253) !important;

}

.canvas .offcanvas-body {
    overflow: hidden;
}

.canvas .offcanvas-body img {
    width: 45%;
    position: absolute;
    right: 6.5rem;
    bottom: 3rem;
}

.canvas button {
    background-color: white;
}

.canvas h1 {
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
    margin-bottom: 20px;
}

.canvas a {
    text-decoration: none;
}

.canvas li {
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.774);
    padding: 10px 0 10px 0;
    transition: 0.2s ease-in;
}

.canvas li:hover {
    background: black;
}